    <div class="col-md-5 offset-md-3">
        <h3 class="text-center mt-5 mb-3">Registro de Empleado</h3>
        <form (ngSubmit)="onSubmit()" #empleadorForm = "ngForm">
            <div class="form-group mb-3">
                <label>Nombre:</label>
                <input id="nombre" name="nombre" type="text" class="form-control" [(ngModel)] = "empleado.nombre" required minlength="4" maxlength="10" #nombre="ngModel">
                <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                    <div *ngIf="'nombre.errors.minlength && nombre.errors.maxlength'">
                        El nombre debe contener entre 4 y 10 carácteres 
                    </div>
                </div>
            </div>
            <div class="form-group mb-3">
                <label>Apellido:</label>
                <input id="apellido" name="apellido" type="text" class="form-control" [(ngModel)] = "empleado.apellido" required minlength="4" #apellido="ngModel">
                <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
                    <div *ngIf="'apellido.errors.minlength && apellido.errors.maxlength'">
                        El apellido debe contener mínimo 4 carácteres 
                    </div>
                </div>
            </div>
            <div class="form-group mb-3">
                <label>Email:</label>
                <input id="email" name="email" type="text" class="form-control" [(ngModel)] = "empleado.email" required minlength="4" #email="ngModel">
                <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                    <div *ngIf="'email.errors.minlength && email.errors.maxlength'">
                        El email debe contener el carácter '@'
                    </div>
                </div>
            </div>
            <button class="btn btn-warning" [disabled]="!empleadorForm.form.valid">Guardar</button>
        </form>
    </div>

